.mainIndex {
    grid-area: main;
    
}


/* BOTON YOUTUBE */

.botonYoutube  {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        @media (max-width: 470px) {
            padding: 50px 0px 50px 0px;
            
        }
        
        > button {
            border-radius: 5px;
            background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 18px;
            padding: 10px;
            width: 300px;
        }
        > img {
            width: 70px;
            height: 60px;
                
        }
            
}

        
.videoYoutube {
    > iframe {
        height: 700px;
        width: 100%;
        @media (max-width: 1100px) {
            height: 500px;
            
        }
        @media (max-width: 800px) {
            height: 400px;
            
        }
        @media (max-width: 600px) {
            height: 300px;
            
        }
        @media (max-width: 430px) {
            height: 270px;
            
        }

    }
}

/* BOTON SPOTIFY */

.botonSpotify  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    @media (max-width: 470px) {
        padding: 50px 0px 50px 0px;
        
    }
    
    
    > button {
        border-radius: 5px;
        background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        width: 300px;
    }
    > img {
        width: 70px;
        height: 70px;
    }    
}

/* REPRODUCTOR SPOTIFY */

.contenedor {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    @media (max-width: 600px) {
        margin-top: 0px;
        

    }
    > h1 {
        color: white;
        margin-left: 20px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        
    }
        > iframe {
            border: 2px solid #3d15d9; 
            box-shadow: -2px 0px 29px -1px rgba(61,21,217,0.89) inset;
            -webkit-box-shadow: -2px 0px 29px -1px rgba(61,21,217,0.89) inset;
            -moz-box-shadow: -2px 0px 29px -1px rgba(61,21,217,0.89) inset;
            padding: 20px 100px 20px 100px;
            width: 100%;
            height: 500px;
            @media (max-width: 800px) {
                padding: 10px ;
                
        
            }
            @media (max-width: 600px) {
                height: 380px;
                
        
            }
            
        }
    }

/* BOTON BEATPORT */

.imagenBeatport  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
    
    > img {
        border: 4px solid #3d15d9;     
        width: 350px;
        height: 300px;
        object-fit: cover;
    }
    
}

.botonBeatport  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 40px 0px;
    

    > button {
        border-radius: 5px;
        background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        width: 300px;
    }
    > img {  
        width: 70px;
        height: 65px;
       
    }
    
}
/* SoundCloud */
.soundcloudFondo {
    
    
    > img {
        position: absolute;
        height: 100%;
        width: 100%;
        @media (max-width: 500px) {
            height: 580px;
            
    
        }
        
    }
    
}
.soundCloud{
    padding: 20px;
    > iframe {
        position: relative;
        height: 100%;
        width: 100%;
        @media (max-width: 500px) {
            height: 90px;
            
    
        }
    }
    > h1 {
        position: relative;
        color: white;
        background: none;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }    
}

/* Video */

section {
    position: relative;
    width: 100%;
    height: 800px;
    @media (max-width: 700px) {
        height: 600px;
        

    }
    @media (max-width: 450px) {
        height: 500px;
        

    }
    > h1 {
        color: white;
        margin-left: 20px;
        padding-top: 15px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  
}

video {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
   
    

    > li {
        list-style: none;
        cursor: pointer;
        margin: 10px;
        border-radius: 4px;
        background: #fff;
        padding: 3px ;
        opacity: 1;
        transition: 0.5s;

        > li:hover{
            opacity: 1;
            
        }

        > img {
            width: 50px;
            height: 80px;
            transition: 0.5s;
            @media (max-width: 450px) {
                width: 30px;
                height: 50px;
                
        
            }

        }

        > img:hover {
            width: 80px;
            height: 120px;
            @media (max-width: 450px) {
                width: 50px;
                height: 70px;
                
        
            }
        }
    }

}
/* Seguime en mis redes */

.Redes{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0px;
    > h1 {
        @media (max-width: 725px) {
        font-size: 30px;
                
        }
        @media (max-width: 560px) {
            font-size: 20px;
                    
        }
        @media (max-width: 485px) {
            font-size: 15px;
                     
        }    
    }
    
}

/*ICONOS REDES*/

.Seguidores{
    background-color: none;
     margin: 0;
     padding: 0;
     display: flex;  
    
    
 }

.Seguidores svg {
    color: white;
    background: none;
    width: 50px;
    height: 50px;
    padding: 4px;
    @media (max-width: 725px) {
        height: 40px;
        width: 40px;
                 
    }
    @media (max-width: 560px) {
        height: 30px;
        width: 30px;
                 
    }
    @media (max-width: 485px) {
        height: 25px;
        width: 25px;
                 
    }
 }

 .Seguidores img {
    background: none;
    color: white;
    width: 50px;
    height: 50px;
    @media (max-width: 725px) {
        height: 40px;
        width: 40px;
                 
    }
    @media (max-width: 560px) {
        height: 30px;
        width: 30px;
                 
    }
    @media (max-width: 485px) {
        height: 25px;
        width: 25px;
                 
    }
} 

.Seguidores li {
    list-style: none;
    margin: 0 15px;
    @media (max-width: 485px) {
        margin: 0 10px;
                 
    }
 }

 .Seguidores li a { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    transition: .5s;
    @media (max-width: 725px) {
        height: 40px;
        width: 40px;
                 
    }
    @media (max-width: 560px) {
        height: 30px;
        width: 30px;
                 
    }
    @media (max-width: 485px) {
        height: 25px;
        width: 25px;
                 
    }
} 

.Seguidores li a:hover::before {
    transform: scale(1.1);
    box-shadow: 20px white;
  }

.Seguidores li a:hover {
    box-shadow: 0 0 20px white;
}

/*SLIDER FOTOS*/

.containetTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 700px) {
        height: 700px;
    }
    @media (max-width: 550px) {
        height: 550px;
    }
    @media (max-width: 430px) {
        height: 450px;
    }
    > img {
        position: absolute;
        width: 100%;
        height: 100%;
        
        @media (max-width: 700px) {
            height: 700px;
        }
        @media (max-width: 550px) {
            height: 550px;
        }
        @media (max-width: 430px) {
            height: 450px;
        }
    }
}

.container-carousel {
    position: relative;
    width: 1200px;
    height: 600px;   
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
    @media (max-width: 700px) {
        height: 500px;
    }
    @media (max-width: 550px) {
        height: 400px;
    }
    @media (max-width: 430px) {
        height: 300px;
    }
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;
    

}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
       
    }
}


.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

/* CONTACTOS */

.contactos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 50px 0px;
    @media (max-width: 980px) {
        display: flex;
        flex-direction: column;    
        
    }
    
    > img {
        height: 300px;
        width: 400px;
        @media (max-width: 500px) {
            height: 250px;
            width: 100%;
        }
    }
    .datos {
        display: flex;
        flex-direction: column;
        padding: 20px;
        @media (max-width: 980px) {
            display: flex;
            justify-content: center;  
            align-items: center;           
        }

        > h1 {
            padding-bottom: 60px;
            color: white;
            @media (max-width: 980px) {
                padding-bottom: 10px; 
                margin: 0px;         
            }
            @media (max-width: 480px) {
                font-size: 25px;
            }
        }
        > h2 {
            color: white;
            @media (max-width: 980px) {
                margin: 0px;         
            }
            @media (max-width: 480px) {
                font-size: 18px;
            }
            > img {
                height: 40px;
                width: 40px;

            }

        }
    }
}

