
.navIndex {
    grid-area: nav;
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    @media (max-width: 750px) {
        justify-content: space-between;
        
    }     
    > .logo  img {
        height: 70px;
        width: 70px;
        display: block;
        align-items: center;
        @media (max-width: 800px) {
            
            
            
        }  
        
    }
    
    > .paginas {
        
        > ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            @media (max-width: 750px) {
            display: none;
            
                    
                    
        }
            > li {
                > a{
                    display: block;
                    padding: 15px;
                    text-decoration: none;
                    color: white;
                    font-size: 15px;
                    
                        
                        
                }
            }
        }       
    }
}

.iconNav > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    @media (max-width: 800px) {
        
    }
    > svg {
        color: white;
        width: 25px;
        height: 25px;
        padding: 4px;
        
    }
}

.iconNav img {
    color: white;
    width: 25px;
    height: 25px;
    padding: 4px;
     
 }
 