
.navIndex {
    grid-area: nav;
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
    margin: 0;
    @media (max-width: 670px) {
        flex-direction: row-reverse;
    }     
    > .logo  img {
        height: 70px;
        width: 70px;
        display: block;
        align-items: center;
        
        
                
        @media (max-width: 670px) {
            width: 60px;
            height: 60px;
        }
        
        
    }
    
    > .paginas {
        > ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            @media (max-width: 670px) {
                position: fixed;
                top: 60px;
                left: -300px;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                padding-top: 50px;
                background-color:  rgb(201, 201, 201);
                width: 250px;
                height: 100vh;
                transition: 0.5s;
            }
            > li {
                > a{
                    display: block;
                    padding: 15px;
                    text-decoration: none;
                    color: white;
                    font-size: 15px;
                    
                    
                }
            }
        }       
    }
}

.iconNav svg {
   color: white;
   width: 25px;
   height: 25px;
   padding: 4px;
    
}

.iconNav img {
    color: white;
    width: 25px;
    height: 25px;
    padding: 4px;
     
 }
 