* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.navIndex {
  grid-area: nav;
  background-color: black;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}
@media (max-width: 750px) {
  .navIndex {
    justify-content: space-between;
  }
}
.navIndex > .logo img {
  height: 70px;
  width: 70px;
  display: block;
  align-items: center;
}
.navIndex > .paginas > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .navIndex > .paginas > ul {
    display: none;
  }
}
.navIndex > .paginas > ul > li > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.iconNav > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.iconNav > ul > svg {
  color: white;
  width: 25px;
  height: 25px;
  padding: 4px;
}

.iconNav img {
  color: white;
  width: 25px;
  height: 25px;
  padding: 4px;
}

.body1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: " nav    nav    nav    nav" "header header header header" "aside  aside  aside  aside" " main   main  main    main" " main   main  main   main" "footer footer footer footer";
}

.headerIndex {
  grid-area: header;
}

.fotoPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fotoPrincipal > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.asideIndex {
  grid-area: aside;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .asideIndex {
    display: flex;
    flex-direction: column;
  }
}

.columna1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.columna1 > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  font-size: 30px;
}
@media (max-width: 480px) {
  .columna1 > h1 {
    margin-top: 10px;
  }
}
.columna1 > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  margin: 0;
}
.columna1 > img {
  width: 250px;
  height: 200px;
}

.columna2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.columna2 > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  margin: 0;
}

.mainIndex {
  grid-area: main;
}

/* BOTON YOUTUBE */
.botonYoutube {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
@media (max-width: 470px) {
  .botonYoutube {
    padding: 50px 0px 50px 0px;
  }
}
.botonYoutube > button {
  border-radius: 5px;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 300px;
}
.botonYoutube > img {
  width: 70px;
  height: 60px;
}

/*  
.videoYoutube {
    > iframe {
        height: 700px;
        width: 100%;
        @media (max-width: 1100px) {
            height: 500px;

        }
        @media (max-width: 800px) {
            height: 400px;

        }
        @media (max-width: 600px) {
            height: 300px;

        }
        @media (max-width: 430px) {
            height: 270px;

        }

    }
}*/
.kiko-slider {
  background-color: #FFFFFF;
  height: 600px;
  width: 100%;
  margin: 20px 0px 50px 0px;
}
@media (max-width: 1100px) {
  .kiko-slider {
    height: 500px;
  }
}
@media (max-width: 800px) {
  .kiko-slider {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .kiko-slider {
    height: 300px;
  }
}
@media (max-width: 430px) {
  .kiko-slider {
    height: 270px;
  }
}
.kiko-slider > ul, .kiko-slider li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 600px;
}
@media (max-width: 1100px) {
  .slider {
    height: 500px;
  }
}
@media (max-width: 800px) {
  .slider {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .slider {
    height: 300px;
  }
}
@media (max-width: 430px) {
  .slider {
    height: 270px;
  }
}
.slider > li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
}
.slider > li > iframe {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
@media (max-width: 1100px) {
  .slider > li > iframe {
    height: 500px;
  }
}
@media (max-width: 800px) {
  .slider > li > iframe {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .slider > li > iframe {
    height: 300px;
  }
}
@media (max-width: 430px) {
  .slider > li > iframe {
    height: 270px;
  }
}

.kiko-slider > ul.slider li:first-child {
  opacity: 1;
  /*Mostramos el primer <li>*/
}

.kiko-slider > ul.slider li:target {
  opacity: 1;
  /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}
.menu > li {
  display: inline-block;
  text-align: center;
}
.menu > li > a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 40px;
}

/* BOTON SPOTIFY */
.botonSpotify {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
@media (max-width: 470px) {
  .botonSpotify {
    padding: 50px 0px 50px 0px;
  }
}
.botonSpotify > button {
  border-radius: 5px;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 300px;
}
.botonSpotify > img {
  width: 70px;
  height: 70px;
}

/* REPRODUCTOR SPOTIFY */
.contenedor {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
@media (max-width: 600px) {
  .contenedor {
    margin-top: 0px;
  }
}
.contenedor > h1 {
  color: white;
  margin-left: 20px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contenedor > iframe {
  border: 2px solid #3d15d9;
  box-shadow: -2px 0px 29px -1px rgba(61, 21, 217, 0.89) inset;
  -webkit-box-shadow: -2px 0px 29px -1px rgba(61, 21, 217, 0.89) inset;
  -moz-box-shadow: -2px 0px 29px -1px rgba(61, 21, 217, 0.89) inset;
  padding: 20px 100px 20px 100px;
  width: 100%;
  height: 500px;
}
@media (max-width: 800px) {
  .contenedor > iframe {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .contenedor > iframe {
    height: 380px;
  }
}

/* BOTON BEATPORT */
.imagenBeatport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.imagenBeatport > img {
  border: 4px solid #3d15d9;
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.botonBeatport {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 40px 0px;
}
.botonBeatport > button {
  border-radius: 5px;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 300px;
}
.botonBeatport > img {
  width: 70px;
  height: 65px;
}

/* SoundCloud */
.soundcloudFondo > img {
  position: absolute;
  height: 100%;
  width: 100%;
}
@media (max-width: 500px) {
  .soundcloudFondo > img {
    height: 580px;
  }
}

.soundCloud {
  padding: 20px;
}
.soundCloud > iframe {
  position: relative;
  height: 100%;
  width: 100%;
}
@media (max-width: 500px) {
  .soundCloud > iframe {
    height: 90px;
  }
}
.soundCloud > h1 {
  position: relative;
  color: white;
  background: none;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Video */
section {
  position: relative;
  width: 100%;
  height: 1000px;
}
@media (max-width: 700px) {
  section {
    height: 600px;
  }
}
@media (max-width: 450px) {
  section {
    height: 500px;
  }
}
section > h1 {
  color: white;
  margin-left: 20px;
  padding-top: 15px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

video {
  position: absolute;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.preview {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.preview > li {
  list-style: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 4px;
  background: #fff;
  padding: 3px;
  opacity: 1;
  transition: 0.5s;
}
.preview > li > li:hover {
  opacity: 1;
}
.preview > li > img {
  width: 50px;
  height: 80px;
  transition: 0.5s;
}
@media (max-width: 450px) {
  .preview > li > img {
    width: 30px;
    height: 50px;
  }
}
.preview > li > img:hover {
  width: 80px;
  height: 120px;
}
@media (max-width: 450px) {
  .preview > li > img:hover {
    width: 50px;
    height: 70px;
  }
}

/* Seguime en mis redes */
.Redes {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 0px;
}
@media (max-width: 725px) {
  .Redes > h1 {
    font-size: 30px;
  }
}
@media (max-width: 560px) {
  .Redes > h1 {
    font-size: 20px;
  }
}
@media (max-width: 485px) {
  .Redes > h1 {
    font-size: 15px;
  }
}

/*ICONOS REDES*/
.Seguidores {
  background-color: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Seguidores svg {
  color: white;
  background: none;
  width: 50px;
  height: 50px;
  padding: 4px;
}
@media (max-width: 725px) {
  .Seguidores svg {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 560px) {
  .Seguidores svg {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 485px) {
  .Seguidores svg {
    height: 25px;
    width: 25px;
  }
}

.Seguidores img {
  background: none;
  color: white;
  width: 50px;
  height: 50px;
}
@media (max-width: 725px) {
  .Seguidores img {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 560px) {
  .Seguidores img {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 485px) {
  .Seguidores img {
    height: 25px;
    width: 25px;
  }
}

.Seguidores li {
  list-style: none;
  margin: 0 15px;
}
@media (max-width: 485px) {
  .Seguidores li {
    margin: 0 10px;
  }
}

.Seguidores li a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  transition: 0.5s;
}
@media (max-width: 725px) {
  .Seguidores li a {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 560px) {
  .Seguidores li a {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 485px) {
  .Seguidores li a {
    height: 25px;
    width: 25px;
  }
}

.Seguidores li a:hover::before {
  transform: scale(1.1);
  box-shadow: 20px white;
}

.Seguidores li a:hover {
  box-shadow: 0 0 20px white;
}

/*SLIDER FOTOS*/
.containetTotal {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .containetTotal {
    height: 700px;
  }
}
@media (max-width: 550px) {
  .containetTotal {
    height: 550px;
  }
}
@media (max-width: 430px) {
  .containetTotal {
    height: 450px;
  }
}
.containetTotal > img {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .containetTotal > img {
    height: 700px;
  }
}
@media (max-width: 550px) {
  .containetTotal > img {
    height: 550px;
  }
}
@media (max-width: 430px) {
  .containetTotal > img {
    height: 450px;
  }
}

.container-carousel {
  position: relative;
  width: 1200px;
  height: 600px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 700px) {
  .container-carousel {
    height: 500px;
  }
}
@media (max-width: 550px) {
  .container-carousel {
    height: 400px;
  }
}
@media (max-width: 430px) {
  .container-carousel {
    height: 300px;
  }
}

.carruseles {
  width: 1000%;
  height: 100%;
  display: flex;
}

.slider-section {
  width: 10%;
  height: 100%;
}
.slider-section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5058823529);
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;
}

.btn-left:hover,
.btn-right:hover {
  background-color: rgba(51, 51, 51, 0.831372549);
  color: #fff;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

/* CONTACTOS */
.contactos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 50px 0px;
}
@media (max-width: 980px) {
  .contactos {
    display: flex;
    flex-direction: column;
  }
}
.contactos > img {
  height: 500px;
  width: 400px;
}
@media (max-width: 500px) {
  .contactos > img {
    height: 400px;
    width: 100%;
  }
}
.contactos .datos {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
@media (max-width: 980px) {
  .contactos .datos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contactos .datos > h1 {
  padding-bottom: 60px;
  color: white;
}
@media (max-width: 980px) {
  .contactos .datos > h1 {
    padding-bottom: 10px;
    margin: 0px;
  }
}
@media (max-width: 480px) {
  .contactos .datos > h1 {
    font-size: 25px;
  }
}
.contactos .datos > h2 {
  color: white;
}
@media (max-width: 980px) {
  .contactos .datos > h2 {
    margin: 0px;
  }
}
@media (max-width: 480px) {
  .contactos .datos > h2 {
    font-size: 18px;
  }
}
.contactos .datos > h2 > img {
  height: 40px;
  width: 40px;
}

.footerIndex {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  height: 60px;
  width: 100%;
  bottom: 0;
}
.footerIndex > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.425);
  background: none;
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footerIndex > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.425);
  background: none;
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}